<ion-header>
  <ion-toolbar color="primary">
    <app-menu-toggle slot="start"></app-menu-toggle>
    <ion-title>Moto Eventos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item lines="none" color="primary">
          <ion-label>
            <h1>{{title}}</h1>
            <p>Configurações básicas na aplicação e de seu perfil de usuário.</p>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>

        

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
