ion-title {
  font-size: 1.2rem;
  font-weight: 700;
}

h1 {
  font-size: 1.5rem;
  font-weight: 700;
  padding-bottom: 10px;
}

.rotulo {
  font-weight: 700;
  padding: 20px 0 5px 0;
  color: var(--ion-color-secondary);
}

ion-card.claro {
  --background: #ffffff;
}
