<ion-header>
  <ion-toolbar color="primary">
    <app-menu-toggle slot="start"></app-menu-toggle>
    <ion-title>Moto Eventos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content role="form" [formGroup]="form" color="primary">

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item lines="none" color="primary">
          <ion-label>
            <h1>{{title}}</h1>
            <p>Os dados abaixo, que estão carregados no formulário, são referentes ao evento selecionado para edição. <strong>Edite os dados que achar necessário!</strong></p>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>

        <form [formGroup]="form" (submit)="salvarEvento()">
          <ion-grid>

            <ion-row>
              <ion-col>
                <ion-item color="primary" class="custom-item">
                  <ion-label position="stacked" class="custom-label">Nome do Evento</ion-label>
                  <ion-input type="text" ngDefaultControl  formControlName="nome"></ion-input>
                </ion-item>
                <ion-item color="primary" lines="none" *ngIf="form.get('nome')?.hasError('required') && (form.get('nome')?.touched || form.get('nome')?.dirty)">
                  <ion-note slot="start" color="warning">
                    Obrigatório um nome para o evento!
                  </ion-note>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <ion-item color="primary" class="custom-item">
                  <ion-label position="stacked" class="custom-label">MC ou MG Organizador</ion-label>
                  <ion-input type="text" ngDefaultControl  formControlName="organizador"></ion-input>
                </ion-item>
                <ion-item color="primary" lines="none" *ngIf="form.get('organizador')?.hasError('required') && (form.get('organizador')?.touched || form.get('organizador')?.dirty)">
                  <ion-note slot="start" color="warning">
                    Obrigatório um organizador para o evento!
                  </ion-note>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <ion-item color="primary" class="custom-item">
                  <ion-label position="stacked" class="custom-label">Descrição do Evento</ion-label>
                  <ion-textarea ngDefaultControl  formControlName="descricao"></ion-textarea>
                </ion-item>
                <ion-item color="primary" lines="none" *ngIf="form.get('descricao')?.hasError('required') && (form.get('descricao')?.touched || form.get('descricao')?.dirty)">
                  <ion-note slot="start" color="warning">
                    Obrigatório uma descrição do evento!
                  </ion-note>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <ion-item color="primary" lines="none">
                  <ion-label position="stacked" class="custom-label">Imagem do Cartaz</ion-label>
                  <ng-container *ngIf="evento$ | async as evento">
                    <ion-item *ngIf="evento.imagem" class="claro ion-no-padding" lines="none">
                      <img [src]="evento.imagem">
                    </ion-item>
                  </ng-container>                  
                  <ion-item class="ion-no-padding claro" lines="none" *ngIf="selectedFile">
                    <img *ngIf="previewUrl" [src]="previewUrl" alt="Image Preview" />
                  </ion-item>
                  <input type="file" id="inputImagem" (change)="selecionandoImagem($event)" hidden accept=".jpg, .png">
                  <ion-button color="secondary" expand="block" shape="round" size="default" (click)="gatilhoInputImagem()" class="full-width-button">Escolha a imagem</ion-button>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <ion-item color="primary" class="custom-item">
                  <ion-label position="stacked" class="custom-label">Estado</ion-label>
                  <ion-select [interfaceOptions]="estadoOptions"  *ngIf="estados.length > 0; else spinnerEstado" ngDefaultControl formControlName="estado" placeholder="Selecione o estado" [compareWith]="compareEstadoCom" (ionChange)="obterCidades($event)">
                    <ion-select-option *ngFor="let estado of estados" [value]="estado">
                      {{ estado.name }}
                    </ion-select-option>
                  </ion-select>
                  <ng-template #spinnerEstado><ion-spinner color="light"></ion-spinner></ng-template>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <ion-item color="primary" class="custom-item">
                  <ion-label position="stacked" class="custom-label">Cidade</ion-label>
                  <ion-select [interfaceOptions]="cidadeOptions" *ngIf="cidades.length > 0; else spinnerCidade" ngDefaultControl formControlName="cidade" placeholder="Selecione a cidade" [compareWith]="compareCidadeCom" (ionChange)="defineLocalidade($event)">
                    <ion-select-option *ngFor="let cidade of cidades" [value]="cidade">
                      {{ cidade.name }}
                    </ion-select-option>
                  </ion-select>
                  <ng-template #spinnerCidade><ion-spinner color="light"></ion-spinner></ng-template>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <ion-item color="primary" class="custom-item">
                  <ion-label position="stacked" class="custom-label">Localização (Incorporar um mapa)</ion-label>
                  <ion-item class="claro ion-no-padding" lines="none">
                    <div [innerHTML]="localizacao"></div>
                  </ion-item>
                  <ion-input type="text" ngDefaultControl  formControlName="localizacao" placeholder="Google Maps <iframe src=''></iframe>"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <ion-item lines="none" color="primary">
                  <ion-label position="stacked" class="custom-label">Data do Evento</ion-label>
                  <ion-datetime-button datetime="datetime" presentation="date" formControlName="data" ngDefaultControl></ion-datetime-button>
                  <ion-modal [keepContentsMounted]="true">
                    <ion-datetime
                        id="datetime"
                        presentation="date"
                        (ionChange)="form.get('data')?.setValue($event.detail.value)"
                        [value]="dataEvento"
                        [formatOptions]="{
                          date: {
                            weekday: 'short',
                            month: 'long',
                            day: '2-digit',
                          },
                          time: {
                            hour: '2-digit',
                            minute: '2-digit',
                          },
                        }"
                      ></ion-datetime>
                  </ion-modal>
                </ion-item>
                <ion-item color="primary" lines="none" *ngIf="form.get('data')?.hasError('required') && (form.get('data')?.touched || form.get('data')?.dirty)">
                  <ion-note slot="start" color="warning">
                    Obrigatório uma data para o evento!
                  </ion-note>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <ion-item color="primary" class="custom-item">
                  <ion-label position="stacked" class="custom-label">E-mail (Organizador)</ion-label>
                  <ion-input type="email" ngDefaultControl formControlName="email"></ion-input>
                </ion-item>
                <ion-item color="primary" lines="none" *ngIf="((form.get('email')?.hasError('required') || form.get('email')?.invalid) && form.get('email')?.dirty)">
                  <ion-note slot="start" color="warning">
                    Obrigatório um e-mail válido!
                  </ion-note>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <ion-item color="primary" class="custom-item">
                  <ion-label position="stacked" class="custom-label">Celular (WhatsApp Organizador)</ion-label>
                  <ion-input type="tel" ngDefaultControl formControlName="celular" appPhoneMask placeholder="(00) 00000-0000"></ion-input>
                </ion-item>
                <ion-item color="primary" lines="none" *ngIf="form.get('celular')?.hasError('required') && (form.get('celular')?.touched || form.get('celular')?.dirty)">
                  <ion-note slot="start" color="warning">
                    Obrigatório um celular de contato!
                  </ion-note>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <ion-item color="primary" lines="none">
                  <ion-button (click)="cancelar()" color="light" type="button" expand="block" shape="round" size="default" fill="outline" class="full-width-button">Cancelar</ion-button>
                  <ion-button color="secondary" type="submit" expand="block" shape="round" size="default" class="full-width-button">Salvar</ion-button>
                </ion-item>
              </ion-col>
            </ion-row>

          </ion-grid>
        </form>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>