ion-title {
  font-size: 1.2rem;
  font-weight: 700;
}

h1 {
  font-size: 1.5rem;
  font-weight: 700;
  padding-bottom: 10px;
}

ion-card.claro {
  --background: #ffffff;
}

.imagem {
  width: 100%;
  height: auto;
  display: block;
}


