ion-title {
  font-size: 1.2rem;
  font-weight: 700;

  span {
    font-size: 1.2rem;
    font-weight: 400;
  }
}

.custom-label {
  color: var(--ion-color-primary);
  font-weight: bold;
  padding: 0 0 20px 0;
  margin: 0;
}

